/* Navigation */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fdfdfd;
  border-bottom: 1px solid rgb(200, 200, 200);
  z-index: 1
}

nav {
  float: right;
  width: 50%;
  text-align: right;
  margin-right: 25px;
}
header nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  float: left;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: left;
  margin-right: 25px;
  margin-top: 4%;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.3s linear;
}

nav li {
  position: relative;
}


.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  
}

.App {
  
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 30em;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.Scores{
  float:left;
  width:45%;
}

.ScoreKort{
  padding: .2rem 0 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  /* box-shadow: 0 2px 2px 2px #ddd; */
  box-shadow: inset 10px 0px 0px 0px #61dafb;
}

.Highscores{
  width:50%;
  float:right;
}

.HighscoresKort{
  box-shadow: inset 3px 0px 0px 0px #61dafb;
}

@media (max-width: 1200px) {
  .Scores {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: insert 0 2px 4px #ddd;background: #f2f2f2;
  padding: 1rem;
  border-radius: 4px;
  float: none;
  width: 95%;
  }

  .Highscores{
    position: relative;
    float: none;
  }

  .ScoreKort{
    background: #f2f2f2;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px #ddd;
  }
}